<style type="text/css">
body {
	background:#000000;
	}
div.tudo {position:relative; background:#000; width:37em; height:5em;}
div.texto, div.efeito1 { 
	font: 50px "Arial black", Arial, Helvetica, sans-serif; 
	}
div.texto {  
	position:absolute; 
	top:0; 
	left:0;
	color:#f00; 
	}
div.efeito1 { 
	position:absolute; 
	left: 2px;
	top: -2px;
	color:#fff; 
	}	
</style>
<center>
<h1></h1>


<body background>
<div class="tudo">
<div class="efeito1">Tem um Velhaco me olhando...</div>
<div class="texto">Tem um Velhaco me olhando...</div>
</div>
</body>
</html>

</center>
